<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
        <h1>Rock Paper Scissors</h1>
        <h3><em>BOOM!</em></h3>
        <form action='/player2' method='post'>
            <div class="col-md-6">
                <h2>Player 1</h2>
                <button type='submit' class='btn btn-success' name='player-one' value='rock'>Rock</button>
                <button type='submit' class='btn btn-success' name='player-one' value='paper'>Paper</button>
                <button type='submit' class='btn btn-success' name='player-one' value='scissors'>Scissors</button>
            </div>
        </form>
    </div><!--master container-->
  </body>
</html>
